.pt-130{
    padding-top: 130px;
}

.mb-30{
    margin-bottom: 30px;
}

.pt-90{
    padding-top: 90px;

}

.pb-120{
    padding-bottom: 120px;
}

.pt-50{
    padding-top: 50px;

}
.mt-150{
    margin-top: 150px;
}
.pt-30 {
    padding-top: 30px;
}

.pb-80{
    padding-bottom: 80px;
}